fastapi
uvicorn
pydantic
pydantic_settings
sqlalchemy
psycopg2-binary
alembic
email-validator
passlib[bcrypt]
python-jose[cryptography]
bcrypt
python-multipart

pytest
pytest-asyncio

getgauge
requests

black
ruff
pre-commit